@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Outfit";
  src:
    url("/fonts/outfit/400.woff2") format("woff2"),
    url("/fonts/outfit/400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src:
    url("/fonts/outfit/500.woff2") format("woff2"),
    url("/fonts/outfit/500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src:
    url("/fonts/outfit/700.woff2") format("woff2"),
    url("/fonts/outfit/700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 1rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.347 0.057 245.5);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.347 0.057 245.5);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.347 0.057 245.5);

  --primary: oklch(0.347 0.057 245.5);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.946 0.013 205.2);
  --secondary-foreground: oklch(0.347 0.057 245.5);

  --muted: oklch(0.946 0.013 205.2);
  --muted-foreground: oklch(0.601 0.021 205.2);

  --accent: oklch(0.946 0.013 205.2);
  --accent-foreground: oklch(0.633 0.141 250.3);

  --destructive: oklch(0.583 0.193 28.5);

  --border: oklch(0.85 0.02 200);
  --input: oklch(0.85 0.02 200);

  --ring: oklch(0.633 0.141 250.3);

  --chart-1: oklch(0.633 0.141 250.3);
  --chart-2: oklch(0.735 0.165 149.2);
  --chart-3: oklch(0.712 0.164 63.6);
  --chart-4: oklch(0.583 0.193 28.5);
  --chart-5: oklch(0.698 0.022 199.3);

  --sidebar: oklch(0.98 0.01 200);
  --sidebar-foreground: oklch(0.347 0.057 245.5);
  --sidebar-primary: oklch(0.347 0.057 245.5);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.946 0.013 205.2);
  --sidebar-accent-foreground: oklch(0.347 0.057 245.5);
  --sidebar-border: oklch(0.9 0.02 200);
  --sidebar-ring: oklch(0.633 0.141 250.3);
}

.dark {
  --background: oklch(0.15 0.04 245);

  --foreground: oklch(0.98 0 0);

  --card: oklch(0.2 0.04 245);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.2 0.04 245);
  --popover-foreground: oklch(0.98 0 0);

  --primary: oklch(0.633 0.141 250.3);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.25 0.04 245);
  --secondary-foreground: oklch(0.98 0 0);

  --muted: oklch(0.25 0.04 245);
  --muted-foreground: oklch(0.7 0.02 200);

  --accent: oklch(0.25 0.04 245);
  --accent-foreground: oklch(0.633 0.141 250.3);

  --destructive: oklch(0.583 0.193 28.5);

  --border: oklch(0.3 0.04 245);
  --input: oklch(0.3 0.04 245);
  --ring: oklch(0.633 0.141 250.3);

  --chart-1: oklch(0.633 0.141 250.3);
  --chart-2: oklch(0.735 0.165 149.2);
  --chart-3: oklch(0.712 0.164 63.6);
  --chart-4: oklch(0.583 0.193 28.5);
  --chart-5: oklch(0.698 0.022 199.3);

  --sidebar: oklch(0.13 0.04 245);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(0.633 0.141 250.3);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.25 0.04 245);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.25 0.04 245);
  --sidebar-ring: oklch(0.633 0.141 250.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Outfit";
  }
}
